{
  "extends": "../.eslintrc",
  "env": {
    "node": false,
    "browser": true
  },
  "globals": {
    "angular": true,
    "ionic": true,
    "Random": true,
    "$": true
  },
  "rules": {
    "no-console": 1
  }
}
