<ion-view view-title="Mario Kart 8 Randomizer">
  <ion-nav-buttons side="right">
    <!--<button class="button button-clear button-icon icon ion-volume-high" ng-click="vm.sound=!vm.sound" 
    ng-class="{'button-dark':vm.sound, 'button-light':!vm.sound}">
    </button>-->
    <button class="button button-clear button-dark button-icon ion-cube" ng-click="vm.randomize()">
    </button>
  </ion-nav-buttons>
  <ion-content>
    </button>
    <div class="row">
      <div class="col col-25">
        <div>
          <slot3d api="vm.charApi[0]" items="vm.characters" />
        </div>
      </div>
      <div class="col col-25">
        <div>
          <slot3d api="vm.charApi[1]" items="vm.characters" />
        </div>
      </div>
      <div class="col col-25">
        <div>
          <slot3d api="vm.charApi[2]" items="vm.characters" />
        </div>
      </div>
      <div class="col col-25">
        <div>
          <slot3d api="vm.charApi[3]" items="vm.characters" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-25">
        <slot3d api="vm.kartApi[0]" items="vm.karts" />
      </div>
      <div class="col col-25">
        <slot3d api="vm.kartApi[1]" items="vm.karts" />
      </div>
      <div class="col col-25">
        <slot3d api="vm.kartApi[2]" items="vm.karts" />
      </div>
      <div class="col col-25">
        <slot3d api="vm.kartApi[3]" items="vm.karts" />
      </div>
    </div>
    <div class="row">
      <div class="col col-25">
        <slot3d api="vm.tireApi[0]" items="vm.tires" />
      </div>
      <div class="col col-25">
        <slot3d api="vm.tireApi[1]" items="vm.tires" />
      </div>
      <div class="col col-25">
        <slot3d api="vm.tireApi[2]" items="vm.tires" />
      </div>
      <div class="col col-25">
        <slot3d api="vm.tireApi[3]" items="vm.tires" />
      </div>
    </div>
    <div class="row">
      <div class="col col-25">
        <slot3d api="vm.wingApi[0]" items="vm.wings" />
      </div>
      <div class="col col-25">
        <slot3d api="vm.wingApi[1]" items="vm.wings" />
      </div>
      <div class="col col-25">
        <slot3d api="vm.wingApi[2]" items="vm.wings" />
      </div>
      <div class="col col-25">
        <slot3d api="vm.wingApi[3]" items="vm.wings" />
      </div>
    </div>
    <div class="row">
      <div class="col col-25 text-center" ng-click="vm.spin(0)">
        <span class="badge badge-energized">Player 1</span></div>
      <div class="col col-25 text-center" ng-click="vm.spin(1)">
        <span class="badge badge-positive">Player 2</span></div>
      <div class="col col-25 text-center" ng-click="vm.spin(2)">
        <span class="badge badge-assertive">Player 3</span></div>
      <div class="col col-25 text-center" ng-click="vm.spin(3)">
        <span class="badge badge-balanced">Player 4</span></div>
    </div>
  </ion-content>
</ion-view>