<ion-view view-title="main module">
  <!-- do you want padding? -->
  <ion-content class="padding">
    <label class="item item-input item-select">
    <div class="input-label">
      Number of Players
    </div>
    <select ng-model="vm.numPlayers">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
    </select>
  </label>
    <button class="button button-full button-positive" ng-click="vm.randomize()">
  Randomize!
</button>
    <div class="row" ng-repeat="player in vm.selections">
      <div class="col">
        <div class="thumbnail">
          <img width="32px" src="/main/assets/images/{{player.character.image}}" alt="{{player.character.name}}" /></div>
        {{player.character.name}}</div>
      <div class="col"><div class="thumbnail">
        <img width="50px" src="/main/assets/images/{{player.kart.image}}" alt="{{player.kart.name}}" /></div>{{player.kart.name}}</div>
      <div class="col">
        <div class="thumbnail">
          <img width="50px" src="/main/assets/images/{{player.tires.image}}" alt="{{player.tires.name}}" /></div>
        {{player.tires.name}}</div>
      <div class="col">
        <div class="thumbnail">
          <img width="50px" src="/main/assets/images/{{player.wing.image}}" alt="{{player.wing.name}}" /></div>{{player.wing.name}}</div>
    </div>
  </ion-content>
</ion-view>